@use "../abstract/" as *;
.card {
    border-radius: 1rem;
    padding: 3rem;

    & > * {
        margin-bottom: 2rem;
    }

    &__header {
        @include mixin-flex-center;
        justify-content: flex-start;
        &-img {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            border: 3px solid rgba($var-color-white, 0.4);
            margin-right: 2rem;
        }
    }

    &__testimonial {
        position: relative;
        z-index: 2;
        font-size: 2rem;
    }

    &__history {
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    &:nth-child(1) {
        background-color: $var-color-primary;
        color: func-set-color($var-color-primary);
        position: relative;
        z-index: 10;
        &::before{
            position: absolute;
            content: "";
            width: 12rem;
            height: 12rem;
            right: 5%;
            top: 0;
            // background: url("../../assets/img/bg-pattern-quotation.svg")  ;
            background-image: url("data:image/svg+xml,%3Csvg width='104' height='102' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M104 102V59.727H84.114c0-5.871.689-11.182 2.068-15.933 1.379-4.75 3.42-9.287 6.125-13.61C95.01 25.86 98.909 22.257 104 19.375V0c-9.758 4.27-17.712 9.874-23.864 16.813-6.151 6.939-10.712 14.545-13.681 22.818C63.485 47.904 62 59.941 62 75.74V102h42zm-62 0V59.727H22.114c0-5.871.689-11.182 2.068-15.933 1.379-4.75 3.42-9.287 6.125-13.61C33.01 25.86 36.909 22.257 42 19.375V0c-9.652 4.27-17.58 9.874-23.784 16.813C12.01 23.752 7.424 31.358 4.455 39.631 1.485 47.904 0 59.941 0 75.74V102h42z' fill='%23A775F1' fill-rule='nonzero'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 1;
            filter: brightness(90%);
            @media only screen and (min-width: $var-bp-md) {
                right: 15%
            }
            


        }
    }

    &:nth-child(2) {
        background-color: $var-color-secondary-1;
        color: func-set-color($var-color-secondary-1);
    }

    &:nth-child(3) {
        background-color: $var-color-white;
        color: func-set-color($var-color-white);
    }

    &:nth-child(4) {
        background-color: $var-color-secondary-2;
        color: func-set-color($var-color-secondary-2);
        .card__header {
            &-img {
                border: 3px solid rgba($var-color-primary, 0.4);
            }
        }
    }

    &:nth-child(5) {
        background-color: $var-color-white;
        color: func-set-color($var-color-white);
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(4) {
        .card__header {
            &-person {
                &-name {
                    color: $var-color-neutral-2;
                }
                &-stats {
                    color: rgba($var-color-neutral-2, 0.5);
                }
            }
        }
        .card__history {
            color: rgba($var-color-neutral-2, 0.7);
        }
    }

    &:nth-child(3),
    &:nth-child(5) {
        .card__header {
            &-person {
                &-name {
                    color: $var-color-secondary-1;
                }
                &-stats {
                    color: rgba($var-color-secondary-1, 0.5);
                }
            }
        }
        .card__history {
            color: rgba($var-color-secondary-1, 0.7);
        }
    }
}
