@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  display: block;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: url("../../images/bg-mobile.svg") #664baf;
  background-repeat: no-repeat;
  background-position: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
@media only screen and (min-width: 40em) {
  body {
    background: url("../../images/bg-desktop.svg") #664baf;
    background-repeat: no-repeat;
    background-position: left -2rem;
    background-size: 75% 90%;
  }
}
@media only screen and (min-width: 52.25em) {
  body {
    height: 100vh;
    background: url("../../images/bg-desktop.svg") #664baf;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
  }
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 95vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  margin-block: min(3rem, 5vh);
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  padding: 3rem;
}
@media only screen and (min-width: 40em) {
  .header {
    padding: 1rem;
    -ms-flex-item-align: start;
        align-self: start;
  }
}
.header__logo {
  margin-bottom: 4rem;
}
@media only screen and (min-width: 40em) {
  .header__logo {
    padding: 1rem;
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.header__logo img {
  width: 40%;
}
@media only screen and (min-width: 40em) {
  .header__hero {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.header__hero img {
  width: 100%;
}

.main {
  width: 100%;
  padding: 3rem;
  padding-bottom: 0;
  text-align: center;
  color: white;
}
.main > * {
  margin-bottom: 1.5rem;
}
@media only screen and (min-width: 40em) {
  .main {
    text-align: start;
  }
}
.main__title {
  font-weight: 600;
  font-size: 2rem;
}
@media only screen and (min-width: 52.25em) {
  .main__title {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 75em) {
  .main__title {
    font-size: 7rem;
  }
}
.main__paragraph {
  font-weight: 400;
  font-size: 1.4rem;
}
@media only screen and (min-width: 52.25em) {
  .main__paragraph {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 75em) {
  .main__paragraph {
    font-size: 3rem;
  }
}
.main__btn:link, .main__btn:visited {
  color: #664baf;
  text-decoration: none;
  display: block;
  background-color: white;
  width: 55%;
  margin: 3rem auto;
  padding: 1rem 3rem;
  border-radius: 10rem;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
@media only screen and (min-width: 40em) {
  .main__btn:link, .main__btn:visited {
    margin-left: 0;
    text-align: center;
  }
}
@media only screen and (min-width: 75em) {
  .main__btn:link, .main__btn:visited {
    font-size: 2.5rem;
    padding: 1.5rem 3rem;
  }
}
.main__btn:hover {
  background-color: #e882e8;
  -webkit-box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
}
@media only screen and (min-width: 40em) {
  .main__socials {
    padding: 1rem;
    text-align: end;
  }
}
@media only screen and (min-width: 75em) {
  .main__socials {
    padding: 0rem;
  }
}
.main__socials i {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.3rem;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.main__socials i:not(:first-child) {
  margin-left: 1rem;
}
@media only screen and (min-width: 75em) {
  .main__socials i:not(:first-child) {
    margin-left: 3rem;
  }
}
@media only screen and (min-width: 52.25em) {
  .main__socials i:not(:first-child) {
    margin-left: 2rem;
  }
}
.main__socials i:hover {
  color: #e882e8;
}
@media only screen and (min-width: 52.25em) {
  .main__socials i {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2rem;
    text-align: center;
    line-height: 2.3rem;
  }
  .main__socials i:last-child {
    margin-right: 1.5rem;
  }
}
@media only screen and (min-width: 75em) {
  .main__socials i {
    width: 5rem;
    height: 5rem;
    font-size: 2.5rem;
    text-align: center;
    line-height: 3.7rem;
  }
}

.footer {
  margin-block: 2rem;
}

.attribution {
  background-color: rgba(255, 255, 255, 0.1);
  width: 92%;
  margin: 1rem auto;
  color: white;
  border-radius: 1rem;
  padding: 1rem 1rem;
  font-size: 1.1rem;
  text-align: center;
}
@media only screen and (min-width: 75em) {
  .attribution {
    font-size: 2.5rem;
    padding: 1.5rem 3rem;
  }
}
.attribution a:link,
.attribution a:visited {
  color: #e882e8;
  font-weight: 600;
  text-shadow: 0 0 7px #1d1616, 0 0 10px #8f7070, 0 0 21px #ddd4d4;
}