@use "../abstract/" as *;
@use "sass:color";
.header{
    padding: $var-padding-default;
    background-color: $var-color-primary-1;
    border-radius: 1rem 10rem 1rem 1rem;
    &__logo{
        margin-bottom: 3rem;
    }

    &__icons{
        @include mixin-flex-center;
        justify-content: flex-start;
        gap: 2rem;

        &-box{
            @include mixin-flex-center;
            border-radius: 1rem;
            width: 3rem;
            height: 3rem;
            padding: 2.5rem;
            background-color: $var-color-primary-2;
            cursor: pointer;
            &:hover {
                background-color: color.scale($var-color-primary-2, $lightness: 35%);

            }
        }
    }
}