@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  display: block;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (min-width: 62.5em) {
  html {
    font-size: 100%;
  }
}

body {
  min-height: 100vh;
  background: url("../assets/images/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 120%;
}
@media only screen and (min-width: 37.5em) {
  body {
    background: url("../assets/images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: 120%;
  }
}

.container > * {
  padding: 2rem;
}
@media only screen and (min-width: 37.5em) {
  .container > * {
    padding: 0;
  }
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.8rem;
}

h1, h2, p {
  text-align: center;
}

h1, h2 {
  font-size: 3rem;
  color: #4c545d;
}

p {
  font-size: 1.6rem;
  color: #9fabb2;
}

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
@media only screen and (min-width: 37.5em) {
  .btns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.btn {
  width: 28rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  padding: 1.4rem 5rem;
  border-radius: 10rem;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 37.5em) {
  .btn {
    width: 23rem;
    padding: 1.4rem 3rem;
  }
}
.btn-green {
  background-color: #26baa4;
}
.btn-green:hover {
  background-color: rgba(38, 186, 164, 0.7);
}
.btn-blue {
  background-color: #6173ff;
}
.btn-blue:hover {
  background-color: rgba(97, 115, 255, 0.7);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10rem;
}
.header > * {
  margin-bottom: 2rem;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-block: 4rem;
}
.header__paragraph {
  font-size: 1.3rem;
  letter-spacing: 1px;
  margin-bottom: 4rem;
}
@media only screen and (min-width: 37.5em) {
  .header__paragraph {
    width: 70%;
    margin-inline: auto;
    -webkit-transform: translateX(-3%);
        -ms-transform: translateX(-3%);
            transform: translateX(-3%);
  }
}

.snippets {
  margin-bottom: 10rem;
}
.snippets > * {
  margin-bottom: 2rem;
}
.snippets__paragraph {
  margin-bottom: 6rem;
}
@media only screen and (min-width: 37.5em) {
  .snippets__paragraph {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 8rem;
    -webkit-transform: translateX(-4%);
        -ms-transform: translateX(-4%);
            transform: translateX(-4%);
  }
}
.snippets__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (min-width: 37.5em) {
  .snippets__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 4rem;
       -moz-column-gap: 4rem;
            column-gap: 4rem;
  }
}
.snippets__box-img {
  margin-bottom: 5rem;
}
.snippets__box-img img {
  width: 100%;
}
.snippets__box-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5rem;
}
@media only screen and (min-width: 37.5em) {
  .snippets__box-features {
    row-gap: 3rem;
  }
}
.snippets__box-features .feature {
  width: 100%;
}

.access > * {
  margin-bottom: 2rem;
}
@media only screen and (min-width: 37.5em) {
  .access__paragraph {
    width: 90%;
    margin: 0 auto;
    -webkit-transform: translateX(-2%);
        -ms-transform: translateX(-2%);
            transform: translateX(-2%);
    margin-bottom: 5rem;
  }
}
.access__img {
  margin-block: 6rem;
  width: 100%;
}
@media only screen and (min-width: 37.5em) {
  .access__img {
    max-width: 70%;
    margin: 0 auto;
  }
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
}
@media only screen and (min-width: 37.5em) {
  .feature h2 {
    font-size: 2rem;
    -ms-flex-item-align: start;
        align-self: start;
    text-align: start;
  }
}
@media only screen and (min-width: 37.5em) {
  .feature p {
    width: 80%;
    font-size: 1rem;
    -ms-flex-item-align: start;
        align-self: start;
    text-align: start;
  }
}
.feature__img {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.workflow > * {
  margin-bottom: 2rem;
}
.workflow__paragraph {
  margin-bottom: 5rem;
}
@media only screen and (min-width: 37.5em) {
  .workflow__paragraph {
    margin-bottom: 2rem;
  }
}
@media only screen and (min-width: 37.5em) {
  .workflow__features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
}
@media only screen and (min-width: 37.5em) {
  .workflow__features .feature {
    width: 30%;
  }
  .workflow__features .feature > * {
    -ms-flex-item-align: center;
        align-self: center;
    text-align: center;
  }
}

.companies {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 6rem;
}
@media only screen and (min-width: 37.5em) {
  .companies {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 3rem;
       -moz-column-gap: 3rem;
            column-gap: 3rem;
    row-gap: 0rem;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media only screen and (min-width: 37.5em) {
  .companies img {
    width: 6rem;
  }
}

.clipboard {
  margin-top: 15rem;
}
.clipboard > * {
  margin-bottom: 2rem;
}
@media only screen and (min-width: 37.5em) {
  .clipboard {
    margin-top: 5rem;
  }
}
.clipboard__paragraph {
  word-spacing: 2px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5rem;
}
@media only screen and (min-width: 37.5em) {
  .clipboard {
    margin-bottom: 8rem;
  }
}

.footer {
  padding-block: 2rem;
  background-color: rgba(159, 171, 178, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3rem;
}
@media only screen and (min-width: 37.5em) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    row-gap: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.footer__logo {
  width: 5rem;
  height: 5rem;
}
@media only screen and (min-width: 37.5em) {
  .footer__logo {
    margin-inline: 10%;
  }
}
.footer__list {
  list-style: none;
}
@media only screen and (min-width: 37.5em) {
  .footer__list {
    max-width: 30%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(-webkit-max-content, 4rem));
    grid-template-columns: repeat(auto-fit, minmax(max-content, 4rem));
    margin-right: auto;
    gap: 1rem 2rem;
  }
}
.footer__list-item {
  text-align: center;
  margin-block: 1rem;
  cursor: pointer;
}
@media only screen and (min-width: 37.5em) {
  .footer__list-item {
    font-size: 1rem;
    margin-block: 1rem;
    text-align: start;
  }
}
.footer__list-item:hover {
  color: #26baa4;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
}
@media only screen and (min-width: 37.5em) {
  .footer__socials {
    padding-inline: 3rem;
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem;
    margin: 0 auto;
  }
}
.footer__socials i {
  color: #4c545d;
  cursor: pointer;
}
.footer__socials i:hover {
  color: #26baa4;
}

.attribution {
  padding-block: 1rem;
  font-size: 1.2rem;
  text-align: center;
  color: #4c545d;
}
.attribution a:link,
.attribution a:visited {
  color: #3e52a3;
}