@use "../abstract/" as *;
@use "../components/btn";
@use "sass:color";

.header {
    background: url("../assets/images/bg-curvy-mobile.svg"), $var-color-bg-intro-signup  ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
    width: 100%;
    @media only screen and (min-width: $var-bp-w-md){
    background: url("../assets/images/bg-curvy-desktop.svg"), $var-color-bg-intro-signup  ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
    width: 100%;

    }
    &__nav {
        @include mixin-flex-center;
        justify-content: space-between;
        @media only screen and (min-width: $var-bp-w-md){
         padding-inline: 2rem;       
        }
        &-logo {
            img {
                width: 6rem;
        @media only screen and (min-width: $var-bp-w-md){
            width: 8rem;
        }
        @media only screen and (min-width: $var-bp-w-xl) {
            width: 10rem;
        }
            }
        }
        &-navigation {
            
            &-list {
                @include mixin-flex-center;
                gap: 2rem;
                &-item {
                    a{
                    transition: color .3s;
        @media only screen and (min-width: $var-bp-w-md){
            font-size: 1.3rem;
        }
                    @media only screen and (min-width: $var-bp-w-xl) {
                        font-size: 1.5rem;
                    }
                    }
                    a:hover{
                        font-weight: 700;
                        color: $var-color-cta-1;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    &__hero {
        
        margin: 0 auto;
        margin-top: 4rem;
        @include mixin-flex-center;
        flex-direction: column;
        text-align: center;
        gap: 1.5rem;
        @media only screen and (min-width: $var-bp-w-md){
            margin-top: 4rem;
            max-width: 70%;
        }
        &-illustration {
            img {
                width: 100%;
            }
        }
        &-title {
            
        }
        &-text {
            color: color.scale($var-color-white,$lightness: -20%);        
            @media only screen and (min-width: $var-bp-w-md){
                width: 75%;
            }


        }
        &-btn {
            width: 60%;
        @media only screen and (min-width: $var-bp-w-md){
            width: 40%;

        }
        }
    }
}
