@use "../abstract/" as *;

.footer {
    padding-block: 2rem;

    background-color: rgba($var-color-secondary-2, 0.1);
    @include mixin-flex-center;
    flex-direction: column;
    row-gap: 3rem;

    @media only screen and (min-width: $var-bp-w-md) {
        flex-direction: row;
        row-gap: 0;
        justify-content: space-between;
    }

    &__logo {
        width: 5rem;
        height: 5rem;
        @media only screen and (min-width: $var-bp-w-md) {
            margin-inline: 10%;           
        }
    }

    &__list {
        list-style: none;
        @media only screen and (min-width: $var-bp-w-md) {
            max-width: 30%;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(max-content, 4rem));
            // align-items: start;
            margin-right: auto;
            gap: 1rem 2rem;
        }
        &-item {
        
            text-align: center;
            margin-block: 1rem;
            cursor: pointer;

            @media only screen and (min-width: $var-bp-w-md) {
                font-size: 1rem;
                margin-block: 1rem;
                text-align: start;

            }

            &:hover {
                color: $var-color-primary-1;
            }
        }
    }

    &__socials {
        @include mixin-flex-center;
        column-gap: 3rem;
        @media only screen and (min-width: $var-bp-w-md) {
            padding-inline: 3rem;
            column-gap: 1rem;
            margin:0 auto;

        }
        i {
            color: $var-color-secondary-1;
            cursor: pointer;
            &:hover {
                color: $var-color-primary-1;
            }
        }
    }
    
}

.attribution {
    padding-block: 1rem;
    font-size: 1.2rem;
    text-align: center;
    color: $var-color-secondary-1;
    a:link,
    a:visited {
        color: hsl(228, 45%, 44%);
    }
}
