
$color-primary:hsl(322, 100%, 66%);
$color-secondary-1:hsl(193, 100%, 96%);
$color-secondary-2:hsl(208, 11%, 55%);
$color-secondary-3:hsl(192, 100%, 9%);

$font-size-default:1.8rem;

// ? small devices landscape
$bp-w-md:37.5em; // 600px

// ? normal devices
$bp-w-lg: 47em;// 800px

// ? large devices
$bp-w-xl: 62.5em;//1000px