@use "../abstract/" as *;

@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

body {
    font-family: "Bai Jamjuree", sans-serif;
    font-size: $var-font-size-default;
}

h1,h2, p {
    text-align: center;
}
h1,h2 {
    font-size: 3rem;
    color: $var-color-secondary-1;
}
p {
    font-size: 1.6rem;
    color: $var-color-secondary-2;
}
