$color-primary-1:hsl(171, 66%, 44%);
$color-primary-2:hsl(233, 100%, 69%);

$color-secondary-1: hsl(210, 10%, 33%);
$color-secondary-2: hsl(201, 11%, 66%);

$font-size-default: 1.8rem;
// ? small devices landscape
$bp-w-md: 37.5em;//600px

// ? ipad portrait
$bp-w-lg: 46.88em;//750px

//? largest
$bp-w-xl: 62.5em;//1000px;