@use "../abstract/" as *;
@use "sass:color";

.about {
    background-color: color.scale($var-color-primary, $lightness: 30%);
    color: $var-color-white;
    padding: $var-padding-default;
    @include mixin-padding-bp-md;
    
    &__title {
        font-size: 1.7rem;
        margin-bottom: 2rem;
    }

    &__list {
        list-style: none;
        &-item {
            color: rgba($var-color-white,.9);
            margin-bottom: .5rem;
            font-size: 1.3rem;
            cursor: pointer;
        }
    }
}