:root {
    --color-bg: hsl(0, 0%, 98%);

    --color-primary-text: hsl(229, 6%, 66%);
    --color-secondary-text: hsl(234, 12%, 34%);

    --color-red:hsl(0, 78%, 62%);
    --color-blue: hsl(212, 86%, 64%);
    --color-cyan: hsl(180, 62%, 55%);
    --color-orange: hsl(34, 97%, 64%);

}

$font-size-default: 1.5rem;

$bp-tablet: 48em; //768