
$color-primary: hsl(256, 40%, 49%);
$color-secondary: hsl(300, 69%, 71%);
$color-white: hsl(0, 0%, 100%);
$padding-default: 3rem;

$bp-small: 40em; // 640px
$bp-large: 52.25em;// 900px
$bp-largest: 75em;// 1200px
