@use "../abstract/" as *;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,a {
    font-family: 'Raleway', sans-serif;
    color: $var-color-white;
}