.main {
    padding: 2rem;
    text-align: center;
    @media only screen and (min-width:$bp-large) {
        text-align: left;
        padding: 5rem 10rem;
    }
    &__title {
    }

    &__paragraph {
        margin-top: 2rem;
        @media only screen and (min-width:$bp-large) {
         margin-top: 4rem;
        }
    }
}