$color-bg: hsl(185, 75%, 39%);
$color-card-bg: hsl(227, 10%, 46%);
$color-text-primary: hsl(229, 23%, 23%);
$color-text-secondary:hsl(0, 0%, 59%);
$color-white: hsl(0, 0%, 100%);

$bp-small:37.5em; //600px
$bp-large: 56.25em; // 900px
$bp-largest:75em; //1200px