@use "../abstract/" as *;
@use "sass:color";
.btn:link,
.btn:visited {
    font-size: 1rem;
    padding: 0.5rem 2rem;
    padding-bottom: .7rem;
    border-radius: 10rem;
    text-align: center;
    color: $var-color-neutral-1;
    border: 1px solid $var-color-primary-2;
    background-color:$var-color-primary-2;
    font-weight: 600;
    transition: all .3s;
}

.btn:hover{
    background-color: color.scale($var-color-primary-2, $lightness: 30%);
    // background-color: black;
}
